<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="../model/modelBloc.js"></script>
    <script type="text/javascript" src="../model/modelBot.js"></script>
    <script type="text/javascript" src="../model/modelScore.js"></script>
    <script type="text/javascript" src="../model/modelTetromino.js"></script>
    <script type="text/javascript" src="../model/modelGrille.js"></script>
    <script type="text/javascript" src="../model/modelBackground.js"></script>
    <script type="text/javascript" src="../controler/controlerMain.js" defer></script>
  </head>
  <body>
    <canvas id="tetris" width="600" height="900"></canvas>
  </body>
</html>
