<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">

    <script type="text/javascript" src="../model/modelBloc.js" defer></script>
    <script type="text/javascript" src="../model/modelBot.js" defer></script>
    <script type="text/javascript" src="../model/modelGrille.js" defer></script>
    <script type="text/javascript" src="../model/modelTetromino.js" defer></script>
    <script type="text/javascript" src="../model/modelScore.js" defer></script>
    <script type="text/javascript" src="../view/view.js" defer></script>
    <script type="text/javascript" src="../model/model.js" defer></script>
    <script type="text/javascript" src="../controler/controller.js" defer></script>
      

  </head>
  <body>
    <canvas id="tetris" width="600" height="900"></canvas>
  </body>
</html>
